app-template:
  defaultPodOptions:
    enableServiceLinks: true
    securityContext:
      runAsUser: 1000
      runAsGroup: 100
      fsGroup: 100
  controllers:
    main:
      containers:
        sonarr:
          image: { repository: docker.io/linuxserver/sonarr, tag: 4.0.15 }
  service:
    main:
      controller: main
      ports:
        sonarr:
          port: 8989
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &sonarrHost sonarr.malford.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: sonarr
      tls:
        - secretName: sonarr-tls-certificate
          hosts:
            - *sonarrHost
  persistence:
    media:
      type: persistentVolumeClaim
      existingClaim: jellyfin-media
      globalMounts:
        - path: /media
    config:
      enabled: true
      type: persistentVolumeClaim
      storageClass: standard-rwo
      accessMode: ReadWriteOnce
      size: 20Gi
      advancedMounts:
        main:
          sonarr:
            - path: /config
              subPath: sonarr
    downloads:
      enabled: true
      type: persistentVolumeClaim
      storageClass: standard-rwo
      accessMode: ReadWriteOnce
      size: 200Gi
      advancedMounts:
        main:
          sonarr:
            - path: /downloads
