app-template:
  serviceAccount:
    name: homepage
    create: true
    enableRbac: true
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/gethomepage/homepage
            tag: v1.8.0
          env:
            HOMEPAGE_ALLOWED_HOSTS: "*"
  service:
    main:
      ports:
        http:
          port: 3000
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &host home.malford.io
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: homepage-tls-certificate
  persistence:
    config:
      enabled: true
      type: configMap
      name: homepage-config
      globalMounts:
        - path: /app/config/settings.yaml
          subPath: settings.yaml
        - path: /app/config/widgets.yaml
          subPath: widgets.yaml
        - path: /app/config/services.yaml
          subPath: services.yaml
        - path: /app/config/bookmarks.yaml
          subPath: bookmarks.yaml
        - path: /app/config/kubernetes.yaml
          subPath: kubernetes.yaml
  configMaps:
    config:
      enabled: true
      data:
        settings.yaml: |
          cardBlur: md
          theme: dark
          headerStyle: boxed
          hideVersion: false
        widgets.yaml: |
          - kubernetes:
              cluster:
                show: true
                cpu: true
                memory: true
                showLabel: true
                label: "cluster"
              nodes:
                show: true
                cpu: true
                memory: true
                showLabel: true
          - ceph:
              url: http://rook-ceph-mgr-dashboard.rook-ceph.svc.cluster.local:8443
        kubernetes.yaml: |
          mode: cluster
        services.yaml: |
          - Popular:
            - Jellyfin:
                href: https://jellyfin.malford.io
                description: Media system (movies, music, etc.)
                icon: jellyfin.svg
            - Plex:
                href: https://plex.malford.io
                description: Alternate media system
                icon: plex.svg
            - Paperless:
                href: https://paperless.malford.io
                description: Document management system
                icon: paperless.svg
          - Management:
            - Transmission:
                href: https://transmission.malford.io
                description: Bittorrent client
                icon: transmission.svg
            - SABnzbd:
                href: https://sabnzbd.malford.io
                description: Usenet download client
                icon: sabnzbd.svg
            - Jackett:
                href: https://jackett.malford.io
                description: Indexer proxy
                icon: jackett.svg
            - Prowlarr:
                href: https://prowlarr.malford.io
                description: Indexer manager
                icon: prowlarr.svg
            - Radarr:
                href: https://radarr.malford.io
                description: Movie manager
                icon: radarr.svg
            - Sonarr:
                href: https://sonarr.malford.io
                description: TV show manager
                icon: sonarr.svg
            - Kanidm:
                href: https://auth.malford.io
                description: Identity management
                icon: https://auth.malford.io/pkg/img/logo-square.svg
          - Development:
            - Gitea:
                href: https://git.malford.io
                description: Git forge
                icon: gitea.svg
                ping: http://gitea-http.gitea
            - Woodpecker:
                href: https://ci.malford.io
                description: Continuous integration
                icon: woodpecker-ci.svg
            - ArgoCD:
                href: https://argocd.malford.io
                description: Continuous deployment
                icon: argo-cd.svg
            - Registry:
                href: https://registry.malford.io
                description: Container registry
                icon: docker.svg
            - Grafana:
                href: https://grafana.malford.io
                description: Observability dashboards
                icon: grafana.svg
          - Utilities:
            - Chatbot:
                href: https://ai.malford.io
                description: Ollama agentic chatbot
                icon: ollama-dark.svg
            - Excalidraw:
                href: https://draw.malford.io
                description: Virtual whiteboard
                icon: excalidraw.svg
            - Speedtest:
                href: https://speedtest.malford.io
                description: Internal network speed test
                icon: openspeedtest.png
        bookmarks.yaml: |
          - Homelab:
            - Public homelab repository:
              - href: https://github.com/malford/homelab
                icon: github.svg
          - Managed services:
            - Cloudflare:
              - href: https://dash.cloudflare.com
                icon: cloudflare.svg
            - Terraform Cloud:
              - href: https://app.terraform.io
                icon: terraform.svg
          - Infrastructure:
            - Router:
              - href: https://unifi.local.mmalford.com/
                icon: ubiquiti.svg
            - Google Cloud:
              - href: https://console.cloud.google.com
                icon: google-cloud-platform.svg
