app-template:
  defaultPodOptions:
    enableServiceLinks: true
    securityContext:
      runAsUser: 911
      runAsGroup: 1001
      fsGroup: 1001
  controllers:
    main:
      containers:
        jackett:
          image: { repository: docker.io/linuxserver/jackett, tag: 0.24.234 }
          securityContext:
            runAsUser: 0
  service:
    main:
      controller: main
      ports:
        jackett:
          port: 9117
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &jackettHost jackett.malford.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: jackett
      tls:
        - secretName: jackett-tls-certificate
          hosts:
            - *jackettHost
  persistence:
    config:
      enabled: true
      type: persistentVolumeClaim
      storageClass: standard-rwo
      accessMode: ReadWriteOnce
      size: 20Gi
      advancedMounts:
        main:
          jackett:
            - path: /config
              subPath: Jackett
