app-template:
  defaultPodOptions:
    enableServiceLinks: true
    securityContext:
      runAsUser: 1000
      runAsGroup: 1001
      fsGroup: 1001
  controllers:
    main:
      containers:
        jellyfin:
          image: { repository: docker.io/jellyfin/jellyfin, tag: 10.8.13 }
          securityContext:
            runAsUser: 0
  service:
    main:
      controller: main
      ports:
        http:
          port: 8096
          protocol: HTTP
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &jellyfinHost jellyfin.malford.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
      tls:
        - secretName: jellyfin-tls-certificate
          hosts:
            - *jellyfinHost
  persistence:
    media:
      type: persistentVolumeClaim
      existingClaim: jellyfin-media
      globalMounts:
        - path: /media
    config:
      enabled: true
      type: persistentVolumeClaim
      storageClass: standard-rwo
      accessMode: ReadWriteOnce
      size: 20Gi
      advancedMounts:
        main:
          jellyfin:
            - path: /config
              subPath: jellyfin
