app-template:
  defaultPodOptions:
    enableServiceLinks: true
    securityContext:
      runAsUser: 1000
      runAsGroup: 100
      fsGroup: 100
  controllers:
    main:
      containers:
        radarr:
          image: { repository: docker.io/linuxserver/radarr, tag: 5.28.0 }
  service:
    main:
      controller: main
      ports:
        radarr:
          port: 7878
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &radarrHost radarr.malford.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: radarr
      tls:
        - secretName: radarr-tls-certificate
          hosts:
            - *radarrHost
  persistence:
    media:
      type: persistentVolumeClaim
      existingClaim: jellyfin-media
      globalMounts:
        - path: /media
    config:
      enabled: true
      type: persistentVolumeClaim
      storageClass: standard-rwo
      accessMode: ReadWriteOnce
      size: 20Gi
      advancedMounts:
        main:
          radarr:
            - path: /config
              subPath: radarr
    downloads:
      enabled: true
      type: persistentVolumeClaim
      storageClass: standard-rwo
      accessMode: ReadWriteOnce
      size: 200Gi
      advancedMounts:
        main:
          radarr:
            - path: /downloads
