app-template:
  defaultPodOptions:
    enableServiceLinks: true
    securityContext:
      runAsUser: 1029
      runAsGroup: 100
      fsGroup: 100
  controllers:
    main:
      containers:
        prowlarr:
          image: { repository: lscr.io/linuxserver/prowlarr, tag: 2.3.0 }
          securityContext:
            runAsUser: 0
          env:
            PUID: 1029
            PGID: 100
            UMASK: 002
  service:
    main:
      controller: main
      ports:
        prowlarr:
          port: 9696
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &prowlarrHost prowlarr.malford.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: prowlarr
      tls:
        - secretName: prowlarr-tls-certificate
          hosts:
            - *prowlarrHost
  persistence:
    config:
      enabled: true
      type: persistentVolumeClaim
      storageClass: standard-rwo
      accessMode: ReadWriteOnce
      size: 20Gi
      advancedMounts:
        main:
          prowlarr:
            - path: /config
              subPath: prowlarr
