app-template:
  defaultPodOptions:
    enableServiceLinks: true
    securityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1001
  controllers:
    main:
      containers:
        jellyseerr:
          image: { repository: docker.io/fallenbagel/jellyseerr, tag: 2.7.3 }
  service:
    main:
      controller: main
      ports:
        jellyseerr:
          port: 5055
          protocol: HTTP
  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &jellyseerrHost jellyseerr.malford.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: jellyseerr
      tls:
        - secretName: jellyseerr-tls-certificate
          hosts:
            - *jellyseerrHost
  persistence:
    config:
      enabled: true
      type: persistentVolumeClaim
      storageClass: standard-rwo
      accessMode: ReadWriteOnce
      size: 20Gi
      advancedMounts:
        main:
          jellyseerr:
            - path: /app/config
              subPath: jellyseerr
